<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspection Results</title>
</head>
<body>
<h1>Restaurant Inspection Query</h1>

<fieldset>
    <legend>Restaurant Information</legend>
    <label>Restaurant Name:
    <input type="text" name="name" />
    </label><br/>
    <label>BORO (Neighborhood):
    <input type="text" name="boro"/>
    </label><br/>
    <label>Zipcode:
    <input type="number" name="zipcode"/>
    </label><br/>
   </fieldset>
    <fieldset>
    <label><input type="reset" value="Clear"/></label>
    <label><input type="submit" value="Send"/></label>
   </fieldset><br/><br/><br/><br/>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}


</body>
</html>